.center {
    text-align: center;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
    font-family: Brush Script;
}

.back-button:hover {
    background-color: blue;
}

h1 {
    color: rgb(255, 199, 44);
    font-weight: bold;
    font-family: Times New Roman;
    font-size: 90px;
    background-color: rgb(66, 85, 99);
}

h2 {
    color: Black;
    font-weight: bold;
    font-family: Cambria;
    font-size: 22px;
}

.italic-text {
    font-style: italic;
}

.indented-text {
    text-indent: 10px;
}

.content_test {
    color: white;
    font-weight: italic;
    font-family: Serif;
    font-size: 22px;
}

footer {
    position: fixed;
    bottom: 50px;
    right: 10px;
    font-size: 20px;
    color: yellow;
    font-weight: bold;
    font-family: Cambria;
}

.footer-note {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #425563;
    color: white;
    padding: 10px 0;
    font-family: Cambria;
}

.center {
    text-align: center;
}

.container {
    display: inline-block;
}

.centered-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-heading img {
    margin-right: 1px;
}

.video-container {
    width: 5in;
    height: 5in;
    overflow: hidden;
    background: #000;
    margin: 0 auto;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

@font-face {
    font-family: "Raleway";
    src: url('Raleway.ttf');
}

.LabelBoldHeaderCss {
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    flex-grow: 1;
}

.top_background {
    background-color: #425563;
    border-color: #425563;
    display: flex;
    align-items: center;
    padding: 20px;
}

.top_background img {
    margin-right: auto;
}

.top_background span {
    text-align: center;
    width: 100%;
}
