<!-- login/templates/login/signup.html -->

<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>New user Signup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
</head>
<body>
{% load static %}
<div class="top_background">
        <input type="image" src="{% static 'home/Logotype_yellow.png' %}" alt="Epiroc Logo" style="border-width:0px;">
        <span id="ucHeaderId_lblHeader" class="LabelBoldHeaderCss">EITC TECH FORUM</span>
    </div>

    {% if user.is_authenticated %}
    <div class="profile-container dropdown">
        <img src="{% static 'home/profileid.png' %}" alt="Profile Image" class="profile-image" width="70" height="70">
        <div class="dropdown-content" >
            <p>user: {{ user.username }}</p>
            <p>ID: {{ user.email }}</p>
            <hr>
            <p><a href="{% url 'logout' %}">Logout</a></p>
        </div>
    </div>
    {% endif %}
<hr>
    <div class="centered-form-container">
        <div class="centered-form">
            <h1>Sign Up</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>
    <div class="footer-note">
        <span id="ucFooterId_footer">Web application developed and maintained by EITC.</span>
    </div>
</body>
</html>
