<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>KT videos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
</head>
<body>
    <div class="top_background">
        <a type="image" href="{% url 'home' %}"  style="border-width:0px;">
            <img src="{% static 'home/Logotype_yellow.png' %}">
        </a>
        <span id="ucHeaderId_lblHeader" class="LabelBoldHeaderCss">EITC TECH FORUM</span>
    </div>

    {% if user.is_authenticated %}
    <div class="profile-container dropdown">
        <img src="{% static 'home/profileid.png' %}" alt="Profile Image" class="profile-image" width="70" height="70">
        <div class="dropdown-content" >
            <p>user: {{ user.username }}</p>
            <p>ID: {{ user.email }}</p>
            <hr>
            <p><a href="{% url 'logout' %}">Logout</a></p>
        </div>
    </div>
    {% endif %}
    <!-- <h1>List</h1> -->
    <!-- <div class="container1">
        {% for x in myvideo %}
        <h3 class="text-center">
            {{x.caption}}            
        </h3>
        <video class="embed-responsive embed-responsive-16by9" controls="controls">
            <source src="{{x.video.url}}" type="video/mp4">
        </video>
        {% endfor %}
    </div> -->

    <div class="container1">
      {% for x in myvideo %}
      <div class="video-container">
          <h3 class="text-center">{{ x.caption }}</h3>
          <video class="embed-responsive embed-responsive-16by9" controls>
              <source src="{{ x.video.url }}" type="video/mp4">
              Your browser does not support the video tag.
          </video>
      </div>
      {% endfor %}
  </div>
    <footer>
      <!-- <a href="/api/">Home</a> | -->
      <a href="/api/contact/">Contact</a> |
      <a href="/api/about/">About</a>
      <!-- <a href="/logout/">Logout</a> -->
  </footer>
  <div class="footer-note">
      <span>Web application developed and maintained by EITC.</span>
  </div>
</body>
</html>