/* Existing CSS... */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.back-button {
    padding: 10px 20px;
    background-color: green;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
    font-family: Brush Script;
}

.back-button:hover {
    background-color: blue;
}

/* Additional styles for header and footer */
.top_background {
    background-color: #425563;
    border-color: #425563;
    display: flex;
    align-items: center;
    padding: 20px;
}

.LabelBoldHeaderCss {
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    flex-grow: 1;
}

footer {
    position: fixed;
    bottom: 50px;
    right: 10px;
    font-size: 20px;
    color: yellow;
    font-weight: bold;
    font-family: Cambria;
}

.center-image {
    display: inline-block;

}

.image-with-text {
    text-align: center;
}

.clickable-image {
    width: 200px;
    height: 200px;
    cursor: pointer;
    display: block;

}

.footer-note {
    position: fixed;
    bottom: 10px;
    width: 96%;
    text-align: center;
    background-color: #425563;
    color: white;
    padding: 10px 0;
    font-family: Cambria;
}

/* Profile image and user info */
.profile-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white; /*#425563*/
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px;
    right: 0;
    width: auto;
}

.dropdown:hover .dropdown-content {
    display: block;
    width: auto;
}

.dropdown-content p {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    width: auto;
}
