<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Landing Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/style.css' %}">
</head>
<body>
    <div class="top_background">
        <input type="image" src="{% static 'staticfiles/Logotype_yellow.png' %}" alt="Epiroc Logo" style="border-width:0px;">
        <span id="ucHeaderId_lblHeader" class="LabelBoldHeaderCss">EITC TECH FORM</span>
    </div>

    <div class="container">
        <div class="image-with-text">
            <a href="{% url 'home' %}" class="center-image">
                <img src="{% static 'staticfiles/discussion_forum.jpg' %}" alt="Discussion Form" class="clickable-image">
            </a>
            <h3>Discussion Form</h3>
        </div>
        <div class="image-with-text">
            <a href="{% url 'library' %}" class="center-image">
                <img src="{% static 'staticfiles/resourcelibrary.jpg' %}" alt="Resource Library" class="clickable-image">
            </a>
            <h3>Resource Library</h3>
        </div>
    </div>

    <footer>
        <a href="{% url 'landing' %}">Home</a> |
        <a href="{% url 'contact' %}">Contact</a> |
        <a href="{% url 'about' %}">About</a>
    </footer>

    <div class="footer-note">
        <span id="ucFooterId_footer">Web application developed and maintained by CMTEC.</span>
    </div>
</body>
</html>
