<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Question</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'staticfiles/style.css' %}">
</head>
<body>
<div class="center">
<div class="container">
        <div class="centered-heading">
            <h1> Epiroc Tech Forum</h1>
            <!-- Icon container -->
            <div class="icon-container">
                <img src="C:\Users\IPCGRA\OneDrive - Epiroc\Dokument\app_competancy\imgs\epiroc.jpeg" alt="Epiroc Image">
                <i class="fas fa-icon"></i>
            </div>
        </div>
        </div>
        </div>
<hr>
    <h2>Post your Query</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="back-button">Submit</button> <a href="{% url 'home' %}" class="back-button">Go Back</a>
    </form>


</body>
</html>